.nav-content {
    padding: 25px 135px;
    margin-left: 50px;
}

.bell {
    margin-right: 50px;
}

/* Sidebar */

.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    background-color: white;
    border-right: solid #EEEEEE;
    overflow-x: hidden;
    padding-top: 20px;
    align-content: center;
  }
  
  .sidebar a {
    padding: 6px 6px 25px 30px;
    text-decoration: none;
    font-size: 30px;
    color: #2B2B2B;
    display: block;
  }

/* Homer */

#home {
    margin-left: 50px;
    background-color: #EEEEEE;
}

.greeting {
    padding: 40px 50px;
    font-family: 'Poppins', sans-serif;
}

.button {
    margin: 3px;
}

.main {
    height: 680px;
    padding: 10px 50px;
}

.box-ht1 {
    height: 75%;
}

.box-ht2 {
    height: 24%;
}

.box-ht3 {
    height: 48%;
}

.card {
    border-radius: 18px;
    margin-bottom: 20px;
    padding: 20px;
}